body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}
ul{
    margin: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.html{
    width: inherit;
}
.block_menu{
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: black;
    display: flex;
}

/* .container{
    max-width: 1349px;
} */

.logo a{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    height: 46px;
}
.block_menu li{
    display: flex;
    align-items: center;
    color: antiquewhite;
    font-weight: 600;
    transition: all .30s ease;
}
.li-hover:hover{
    color: rgb(255, 215, 162);
    border-bottom: 2px rgb(255, 215, 162);
}
.menu ul li a{
    margin-left: 7px;
    margin-right: 7px;
}
.menu ul{
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
}
body .block_menu .menu ul li:last-of-type a {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 8px;
    background-color: #dd3d53;
    border-radius: 5px;
    transition: all .30s ease;
}
body .block_menu .menu ul li:last-of-type a:hover{
    background-color: #c9233a;
    border-radius: 8px;
}
.svg-img{
    align-items: center;
    margin-right: 7px;
}
body .block_menu .menu ul li:last-of-type a svg {
    width: 1em;
}
.main_words{
    display: flex;
    height: 430px;
    justify-content: center;
    align-items: center;
}
.main-word-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: max-content;
    width: 600px;
}

.main_block{
    background: url(./image/Головне\ зображення\(\).jpg) no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin: 15px;
}

.main_words h3{
    font-size: 60px;
    color: antiquewhite;
    margin: 0;
    padding: 8px 15px;
    text-shadow: 1px 1px 5px rgb(255, 231, 199);
    border-radius: 30px;
    font-weight: 300;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.main_words2{
    display: flex;
    width: max-content;
    justify-content: center;
    flex-wrap: wrap;
}

.main_words2 ul{
    padding: 0;
}

.main-button{
    width: max-content;
}

.main-button li a{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    border-radius: 13px;
    padding: 0 10px;
    color: rgb(255, 227, 231);
    background-color: #dd3d528c;
    transition: all .30s ease;
}
.main-button li a:hover {
    background-color: #c9233a;
    border-radius: 25px;
}



.Block-3-background{
    background-color: #ffe9ce;
    padding-top: 55px;
    padding-bottom: 50px;
}


.forma{
    display: flex;
    justify-content: center;
}
.forma form ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    text-align: center;
    width: 50px;
    margin: 0 30px;
    font-weight: 600;
    font-size: 17px;
    color: antiquewhite;
    background-color: #dd3d52c4;
    padding: 0 13px;
    padding-right: 1vw;
    border-radius: 1vw;
    border: 1px solid black;
    transition: all .30s ease;
}
.forma form ul{
    display: flex;
    align-items: center;
}

.forma a:hover{
    background-color: #c92339e3;    
    border-radius: 1.17vw;
}



.forma form{
    display: block;
}
.forma label{
    display: flex;
    justify-content: center;
    color: #582d2d;
    height: 22px;
    font-size: 17px;
    font-weight: 600;
    margin: 0 1.5vw;
}
.forma input{
    display: flex;
    width: 155px;
    height: 26px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin: 0 1.5vw;
    color: #582d2d;
    font-weight: 600;
    background-color: #FFE3E1;
    border-radius: 0.5vw;
    border: 1px solid black;
}


.background_block-3{
    display: flex;
    margin: 0 175.5px;
    width: 1000px;
    height: 100px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #ffe4c4;
}



.block-3_absolute{
    border: 2px solid #ffe4c4;
    box-shadow: 1px 1px 15px black;
    border-radius: 2.22vw;
    background-color: #ffe4c4;
    height: 150px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}



.test{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    font-size: 17px;
    border-radius: 0.7vw;
    padding: 2.5px 0;
    height: max-content;
    margin: 15px 35%;
    margin-bottom: 40px;
}



.block-3{
    display: flex;
    justify-content: center;
}
.block-3 form{
    display: block;
}
.block-3 label{
    display: flex;
    justify-content: center;
    font-size: 17px;
    height: 22px;
    font-weight: 600;
    margin: 0 1.5vw;
    color: #582d2d;
}
.block-3 select{
    display: flex;
    height: 30px;
    width: 155px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin: 0 1.5vw;
    background-color: #FFE3E1;
    font-weight: 600;
    color: #582d2d;
    border-radius: 0.5vw;
    border: 1px solid black;
}

.block-3 input{
    display: flex;
    height: 26px;
    width: 155px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin: 0 1.5vw;
    font-weight: 600;
    color: #582d2d;
    background-color: #FFE3E1;
    border-radius: 0.5vw;
    border: 1px solid black;
}

.Head-cake-text{
    display: flex;

}

.Head-cake-test-photo{
    display: flex;
    align-items: center;
    height: 135px;
    margin-left: 100px;
    border-radius: 15px;
}

.Cake-H{
    font-size: 25px;
}

.Cake-t-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 245, 235);
    padding: 50px 0;
}

.Cake-text{
    background-color: #ffd5a2;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 11px;
    width: 350px;
    height: 528px;
}

.Cake-text p{
    font-size: 19px;
    margin: 0px 0px 10px 0px;
}

.Cake-text ul{
    padding: 0;
}

.Cake-text ul li a{
    padding: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dd3d53;
    color: antiquewhite;
    font-weight: 600;
    border-radius: 5px;
    width: 55px;
    height: 25px;
    font-size: 15px;
    transition: all .30s ease;
}

.Cake-text ul li a:hover{
    border-radius: 10px;
    background-color: #c9233a;
}

.Cake-t-photo h4{
    font-size: 25px;
    font-weight: 100;
    width: 90px;
    margin-top: 45px;
    margin-bottom: 0;
}

.Cake-photo img{
    margin-left: 200px;
    margin-top: 200px;
    border-radius: 20px;
    height: 600px;
    transition: all .30s ease;
}



.Block-4{
    background-color: antiquewhite;
}

.Block-4 h1{
    margin-top: 33px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.Block-4-button button{
    background-color: #ffbc7e;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 19px;
    padding: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 0 1.5vw 15px 1.5vw;
    transition: all .30s ease;
}

.Block-4-button :hover{
    border-radius: 12px;
    background-color: #ffd4ad;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.Block-4-button{
    display: flex;
    justify-content: center;
}


.h2-block-5{
    display: flex;
    background-color: rgb(253, 245, 235);
    justify-content: center;
    margin-bottom: 0;
    font-size: 20px;
    padding-top: 20px;
}


.Block-5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 245, 235);
}

.New-create-photo{
    background-color: #eed6c2;
    border-radius: 12px;
    width: 250px;
    margin: 4vw 4vw;
}

.New-create-photo img{
    border-radius: 12px;
    width: 250px;
    height: 390px;
    transition: all .30s ease;
}

.New-create-photo img:hover{
    height: 395px;
}

.New-create-photo ul{
    padding-left: 2vw;
}

.New-create-photo ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0.5vw 0 0.9vw 0;
    width: 40px;
    font-size: 13px;
    padding: 5px;
    transition: all .30s ease;
}

.New-create-photo ul li a:hover{
    margin: 1vw 0 1.4vw 0;
    border-radius: 10px;
    background-color: #c923399d;
}



.nav-burger{
    display: flex;
    align-items: center;
    justify-content: end;
    color: #fff;
    background-color: black;
    line-height: 50px;
    width: 1349px;
}

.Burger-icon{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    height: 30px;
    cursor: pointer;
}


@media screen and (min-width: 990px) {
    .nav-burger{
        display: none;
    }
}
@media screen and (max-width: 900px){
    .Block-4 .Block-4-button{
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1340px){


    .block_menu{
        justify-content: center;
        align-items: center;
        font-size: 1.48vw;
        height: 3.71vw;
        background-color: black;
        display: flex;
    }
    
    
    .logo a{
        margin-top: 0.22vw;
        margin-bottom: 0.22vw;
        margin-left: 0.37vw;
        margin-right: 0.37vw;
        display: flex;
        height: 3.26vw;
    }
    .block_menu li{
        display: flex;
        align-items: center;
        color: antiquewhite;
        font-weight: 600;
        transition: all .30s ease;
    }
    .li-hover:hover{
        color: rgb(255, 215, 162);
        border-bottom: 2px rgb(255, 215, 162);
    }
    .menu ul li a{
        margin-left: 0.74vw;
        margin-right: 0.74vw;
    }
    .menu ul{
        padding: 0px 0px 0px 1.48vw;
        display: flex;
        align-items: center;
    }
    body .block_menu .menu ul li:last-of-type a {
        display: flex;
        align-items: center;
        height: 2.22vw;
        padding: 0 0.67vw;
        background-color: #dd3d53;
        border-radius: 5px;
        transition: all .30s ease;
    }
    body .block_menu .menu ul li:last-of-type a:hover{
        background-color: #c9233a;
        border-radius: 8px;
    }
    .svg-img{
        align-items: center;
        line-height: 3.71vw;
        margin-right: 0.59vw;
    }
    body .block_menu .menu ul li:last-of-type a svg {
        width: 1em;
    }



    .block-3 form select option{
        block-size: 10px;
    }

    .main_words{
        margin-top: 2vw;
        height: 40vw;
    }
    .main_block{
        border-radius: 4vw;
        margin: 2vw;
    }


    .main_words h3{
        font-size: 7vw;
    }

    
    .main-button li a{
        font-size: 4vw;
        font-weight: 500;
        border-radius: 1.3vw;
        padding: 0 1vw;
        transition: all .30s ease;
    }
    .main-button li a:hover {
        background-color: #c9233a;
        border-radius: 1.3vw;
    }

    .main-word-wrap{
        width: 50vw;
    }

    .forma{
        display: flex;
        justify-content: center;
    }
    .forma form ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 3.71vw;
        text-align: center;
        width: 3.71vw;
        margin: 0 2.22vw;
        font-weight: 600;
        font-size: 1.26vw;
        color: antiquewhite;
        background-color: #dd3d52c4;
        padding: 0 0.96vw;
        padding-right: 1vw;
        border-radius: 1vw;
        border: 1px solid black;
        transition: all .30s ease;
    }

    
    .forma a:hover{
        background-color: #c92339e3;    
        border-radius: 1.17vw;
    }
    
    
    
    .forma form{
        display: block;
    }
    .forma label{
        display: flex;
        justify-content: center;
        color: #582d2d;
        height: 1.63vw;
        font-size: 1.26vw;
        font-weight: 600;
        margin: 0 1.5vw;
    }
    .forma input{
        display: flex;
        width: 11.49vw;
        height: 1.93vw;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.26vw;
        margin: 0 1.5vw;
        color: #582d2d;
        font-weight: 600;
        background-color: #FFE3E1;
        border-radius: 0.5vw;
        border: 1px solid black;
    }
    
    
        
    
    
    .block-3_absolute{
        border: 2px solid #ffe4c4;
        box-shadow: 1px 1px 15px black;
        border-radius: 2.22vw;
        background-color: #ffe4c4;
        height: max-content;
        padding-bottom: 1.11vw;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    
    
    .test{
        display: flex;
        justify-content: center;
        border: 1px solid black;
        font-size: 1.26vw;
        border-radius: 0.7vw;
        padding: 2.5px 0;
        height: max-content;
        margin: 1.11vw 35%;
        margin-bottom: 40px;
    }
    
    
    
    .block-3{
        display: flex;
        justify-content: center;
    }
    .block-3 form{
        display: block;
    }
    .block-3 label{
        display: flex;
        justify-content: center;
        font-size: 1.26vw;
        height: 1.63vw;
        font-weight: 600;
        margin: 0 1.5vw;
        color: #582d2d;
    }
    .block-3 select{
        display: flex;
        height: 2.1vw;
        width: 11.49vw;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.26vw;
        margin: 0 1.5vw;
        background-color: #FFE3E1;
        font-weight: 600;
        color: #582d2d;
        border-radius: 0.5vw;
        border: 1px solid black;
    }
    
    .block-3 input{
        display: flex;
        height: 1.93vw;
        width: 11.49vw;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.26vw;
        margin: 0 1.5vw;
        font-weight: 600;
        color: #582d2d;
        background-color: #FFE3E1;
        border-radius: 0.5vw;
        border: 1px solid black;
    }


    .Head-cake-text{
        display: flex;
    
    }
    
    .Head-cake-test-photo{
        display: flex;
        align-items: center;
        height: 11.5vw;
        margin-left: 2vw;
        border-radius: 1.5vw;
    }
    
    .Cake-H{
        font-size: 2.1vw;
    }
    
    .Cake-t-photo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(253, 245, 235);
        padding: 50px 0;
    }
    
    .Cake-text{
        background-color: #ffd5a2;
        border-radius: 1vw;
        padding: 0 1vw;
        padding-top: 1vw;
        font-size: 1.1vw;
        width: 22vw;
        height: 34.5vw;
    }
    
    .Cake-text p{
        margin: 0px 0px 0.9vw 0px;
        font-size: 1.2vw;
    }
    
    .Cake-text ul{
        padding: 0;
    }
    
    .Cake-text ul li a{
        padding: 0px;
        margin-left: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dd3d53;
        color: antiquewhite;
        font-weight: 600;
        border-radius: 0.5vw;
        width: 5.2vw;
        height: 2.5vw;
        font-size: 1.45vw;
        transition: all .30s ease;
    }
    
    .Cake-text ul li a:hover{
        border-radius: 1vw;
        background-color: #c9233a;
        font-size: 1.45vw;
    }
    
    .Cake-t-photo h4{
        font-size: 1.7vw;
        font-weight: 100;
        width: 9vw;
        margin-top: 52px;
        margin-bottom: 0;
    }
    
    .Cake-photo img{
        margin-left: 25vw;
        border-radius: 2vw;
        height: 45.5vw;
        transition: all .30s ease;
    }
    
    .Cake-photo :hover{
        margin-left: 24vw;
        border-radius: 2.5vw;
    }
    
    
    .Block-4{
        background-color: antiquewhite;
    }
    
    .Block-4 h1{
        margin-top: 3.3vw;
        font-size: 2.35vw;
        display: flex;
        justify-content: center;
    }
    
    .Block-4-button button{
        background-color: #ffbc7e;
        border: 1px solid black;
        border-radius: 8px;
        font-size: 1.6vw;
        padding: 10px;
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 3vw;
        margin: 0 15px 15px 15px;
        transition: all .30s ease;
    }
    
    .Block-4-button :hover{
        border-radius: 12px;
        background-color: #ffd4ad;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .Block-4-button{
        display: flex;
        justify-content: center;
    }
    
    
    .h2-block-5{
        display: flex;
        background-color: rgb(253, 245, 235);
        justify-content: center;
        margin-bottom: 0;
        font-size: 2vw;
        padding-top: 20px;
    }
    
    
    .Block-5{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(253, 245, 235);
    }
    
    .New-create-photo{
        background-color: #eed6c2;
        border-radius: 1.2vw;
        width: 20vw;
        /* height: 33.75vw; */
        margin: 4vw 4vw;
    }
    
    .New-create-photo ul{
        padding-left: 2vw;
    }
    
    .New-create-photo ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5vw;
        border: 1px solid black;
        margin: 0.5vw 0 0.9vw 0;
        width: 4vw;
        font-size: 1.3vw;
        padding: 0.5vw;
        transition: all .30s ease;
    }
    
    .New-create-photo ul li a:hover{
        margin: 1vw 0 1.4vw 0;
        border-radius: 1vw;
        background-color: #c923399d;
    }
    
    .New-create-photo img{
        border-radius: 1.2vw;
        width: 20vw;
        height: 30vw;
        transition: all .30s ease;
    }
    
    .New-create-photo img:hover{
        height: 30.5vw;
    }

    .Block-4{
        background-color: antiquewhite;
    }
    
    .Block-4 h1{
        margin-top: 3.3vw;
        font-size: 2.35vw;
        display: flex;
        justify-content: center;
    }
    
    .Block-4-button button{
        background-color: #ffbc7e;
        border: 1px solid black;
        border-radius: 8px;
        font-size: 1.6vw;
        padding: 10px;
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 3vw;
        margin: 0 15px 15px 15px;
        transition: all .30s ease;
    }
    
    .Block-4-button :hover{
        border-radius: 12px;
        background-color: #ffd4ad;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .Block-4-button{
        display: flex;
        justify-content: center;
    }
    .h2-block-5{
        display: flex;
        background-color: rgb(253, 245, 235);
        justify-content: center;
        margin-bottom: 0;
        font-size: 2vw;
        padding-top: 20px;
    }
    
    
    .Block-5{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(253, 245, 235);
    }
    
    .New-create-photo{
        background-color: #eed6c2;
        border-radius: 1.2vw;
        width: 20vw;
        /* height: 33.75vw; */
        margin: 4vw 4vw;
    }
    
    .New-create-photo ul{
        padding-left: 2vw;
    }
    
    .New-create-photo ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5vw;
        border: 1px solid black;
        margin: 0.5vw 0 0.9vw 0;
        width: 4vw;
        font-size: 1.3vw;
        padding: 0.5vw;
        transition: all .30s ease;
    }
    
    .New-create-photo ul li a:hover{
        margin: 1vw 0 1.4vw 0;
        border-radius: 1vw;
        background-color: #c923399d;
    }
    
    .New-create-photo img{
        border-radius: 1.2vw;
        width: 20vw;
        height: 30vw;
        transition: all .30s ease;
    }
    
    .New-create-photo img:hover{
        height: 30.5vw;
    }

}
@media screen and (max-width: 1340px){
    .forma{
        display: flex;
        justify-content: center;
    }
    .forma form ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        text-align: center;
        width: 50px;
        margin: 0 30px;
        font-weight: 600;
        font-size: 12px;
        color: antiquewhite;
        background-color: #dd3d52c4;
        padding: 0 10px;
        padding-right: 1vw;
        border-radius: 1vw;
        border: 1px solid black;
        transition: all .30s ease;
    }
    .forma form ul{
        display: flex;
        align-items: center;
    }
    
    .forma a:hover{
        background-color: #c92339e3;    
        border-radius: 1.17vw;
    }
    

    
    .forma form{
        display: block;
    }
    .forma label{
        display: flex;
        justify-content: center;
        color: #582d2d;
        height: 20px;
        font-size: 12px;
        font-weight: 600;
        margin: 0 1.5vw;
    }
    .forma input{
        display: flex;
        width: 150px;
        height: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        margin: 0 1.5vw;
        color: #582d2d;
        font-weight: 600;
        background-color: #FFE3E1;
        border-radius: 0.5vw;
        border: 1px solid black;
    }
    
    
    .background_block-3{
        display: flex;
        margin: 0 175.5px;
        width: 1000px;
        height: 100px;
        border: 2px solid black;
        border-radius: 30px;
        background-color: #ffe4c4;
    }
    
    
    
    .block-3_absolute{
        border: 2px solid #ffe4c4;
        box-shadow: 1px 1px 15px black;
        border-radius: 2.22vw;
        background-color: #ffe4c4;
        height: 13vw;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    
    
    .test{
        display: flex;
        justify-content: center;
        border: 1px solid black;
        font-size: 15px;
        border-radius: 0.7vw;
        height: max-content;
        margin: 15px 35%;
        margin-bottom: 30px;
    }
    
    
    
    .block-3{
        display: flex;
        justify-content: center;
    }
    .block-3 form{
        display: block;
    }
    .block-3 label{
        display: flex;
        justify-content: center;
        font-size: 12px;
        height: 17px;
        font-weight: 600;
        margin: 0 1.5vw;
        color: #582d2d;
    }
    .block-3 select{
        display: flex;
        height: 23px;
        width: 150px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        margin: 0 1.5vw;
        background-color: #FFE3E1;
        font-weight: 600;
        color: #582d2d;
        border-radius: 0.5vw;
        border: 1px solid black;
    }
    
    .block-3 input{
        display: flex;
        height: 19px;
        width: 145px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        margin: 0 1.5vw;
        font-weight: 600;
        color: #582d2d;
        background-color: #FFE3E1;
        border-radius: 0.5vw;
        border: 1px solid black;
    }
}
   

@media screen and (max-width: 800px){
    .New-create-photo{
        margin: 2vw 2vw;
    }
}


@media screen and (max-width: 990px) {
    .logo{
        display: none;
    }
    .menu{
        display: none;
    }
    .block-menu{
        display: none;
    }
    
    .New-create-photo{
        width: 230px;
    }
    
    .New-create-photo img{
        width: 230px;
        height: 360px;
        transition: all .30s ease;
    }
    
    .New-create-photo img:hover{
        height: 365px;
    }


    .Block-3-background{
        display: flex;
        justify-content: center;
    }
    .block-3_absolute{
        height: max-content;
    }
    .block-3 form input{
        margin-bottom: 20px;
    }
    .block-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    .test{
        margin: 20px 13%;
        padding: 3px;
        height: max-content;
    }
    .block-3 form{
        margin-top: 2.5vw;
    }
    .forma{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    
    .forma form{
        margin-top: 2.5vw;
    }
    .forma ul{
        padding: 0;
    }
    .forma form ul li a{
        height: 25px;
        padding: 0 20px;
        margin-bottom: 20px;
    }


    .Cake-photo img{
        margin-left: 5vw;
    }


    


}
@media screen and (max-width: 850px){
    .Cake-photo img{
        display: none;
    }
    .Cake-text{
        width: 550px;
        height: 350px;
    }
    .main_block{
        margin-top: 25px;
    }

    .New-create-photo{
        width: 200px;
    }
    
    .New-create-photo img{
        width: 200px;
        height: 300px;
        transition: all .30s ease;
    }
    
    .New-create-photo img:hover{
        height: 305px;
    }

}

@media screen and (max-width: 700px){
    .Block-5{
        flex-wrap: wrap;
    }
    
    .New-create-photo{
        width: 390px;
        margin: 10vw 10vw;
    }
    
    .New-create-photo ul{
        padding-left: 4vw;
    }
    
    .New-create-photo ul li a{
        margin: 5px 0 10px 0;
        width: 70px;
        font-size: 17px;
        padding: 5px;
        transition: all .30s ease;
    }
    
    .New-create-photo ul li a:hover{
        margin: 10px 0 15px 0;
        border-radius: 10px;
        background-color: #c923399d;
    }
    
    .New-create-photo img{
        width: 390px;
        height: 580px;
        transition: all .30s ease;
    }
    
    .New-create-photo img:hover{
        height: 585px;
    }
}

@media screen and (max-width: 650px){
    .block-3_absolute{     
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 600px){
    .Cake-text{
        width: 400px;
        height: max-content;
    }
    .Cake-text p{
        font-size: 17px;
    }
    .container{
        max-width: 600px;
    }
}

@media screen and (max-width: 450px){
    
    .container{
        max-width: 450px;
    }
    
    .main-word-wrap h3{
        font-size: 50px;
    }
    .S-C1{
        width: 400px;
    }

    .Cake-text{
        width: 300px;
        height: max-content;
    }
    .Cake-H{
        width: 320px;
        font-size: 21px;
        margin-right: 0;
    }
    .Cake-text p{
        font-size: 16px;
    }
    .New-create-photo{
        width: 300px;
    }
    .New-create-photo img{
        width: 300px;
        height: 470px;
    }
    .New-create-photo img:hover{
        height: 470px;
    }
    .h2-block-5{
        font-size: 22.5px;
    }
}
@media screen and (max-width: 400px){
    .Block-3-background{
        flex-wrap: wrap;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .block-3_absolute{
        width: 205px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .Block-4 h1{
        margin-left: 2vw;
    }
}
@media screen and (max-width: 374px){
    .main-word-wrap h3{
        font-size: 45px;
    }
    .S-C1{
        width: 374px;
    }
}
@media screen and (max-width: 350px){
    
    .main-word-wrap h3{
        font-size: 38px;
    }
    .S-C1{
        width: 30vwpx;
    }
    .main_block{
        margin-top: 35px;
    }

    .Head-cake-test-photo{
        margin-left: 20vw;
    }
    .Cake-text{
        width: 250px;
    }
    .Head-cake-text h4{
        font-size: 18px;
    }
    .Head-cake-test-photo{
        height: 110px;
    }
    .Cake-H{
        width: 250px;
    }
    
}
@media screen and (max-width: 350px){
    .New-create-photo{
        width: 240px;
    }
    .New-create-photo img{
        width: 240px;
        height: 380px;
    }
    .New-create-photo img:hover{
        height: 380px;
    }
    .h2-block-5{
        margin-left: 3vw;
    }
}
